In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import os

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_Canada'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [3]:
table = soup.find_all('table')[0]

In [4]:
column_titles = [title.text.strip() for title in table.find_all('th')]

In [5]:
df = pd.DataFrame(columns = column_titles)

In [6]:
column_data = table.find_all('tr')

for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    length = len(df)
    df.loc[length] = individual_row_data

In [7]:
df

,Rank,Fortune 500rank,Name,Industry,Revenue(USD millions),Profits(USD millions),Employees,Headquarters
0,1,117,Brookfield Asset Management,Finance,"92,769","2,056","202,500",Toronto
1,2,214,Alimentation Couche-Tard,Retail,"62,810","2,683","122,000",Laval
2,3,270,Royal Bank of Canada,Banking,"52,062","12,265","91,427",Toronto
3,4,277,Cenovus Energy,Oil and Gas,"51,406","4,956","5,998",Calgary
4,5,294,Toronto-Dominion Bank,Banking,"48,700","13,535","94,945",Toronto
5,6,327,Suncor Energy,Oil and Gas,"44,928","6,975","16,558",Calgary
6,7,336,George Weston Limited,Retail,"43,838","1,396","221,285",Toronto
7,8,365,Enbridge,Oil and Gas,"40,964","2,308","12,050",Calgary
8,9,392,Nutrien,Agriculture,"37,884","7,660","24,700",Saskatoon
9,10,394,Magna International,Automotive parts,"37,840",592,"158,000",Aurora
10,11,399,Power Corporation of Canada,Finance,"37,419","1,510","37,300",Montreal
11,12,415,Scotiabank,Banking,"36,390","7,701","90,979",Toronto
12,13,433,Bank of Montreal,Banking,"34,730","10,513","46,722",Montreal
13,14,471,Canadian Natural Resources,Oil and Gas,"32,503","8,404","10,035",Calgary

In [8]:
folder_path = os.getcwd() + '\Company_Data.csv'

In [9]:
df.to_csv(folder_path, index = False)